<div class="container">
    <br>
    <small>Join JobsHub</small>
    <legend>Create your account</legend>

    <form>
        <div class="form-group description-form">
            <label>Skills and summary</label>
            <div contenteditable="true" class="form-control" #summary>
                <h5>Summary:</h5>
                <p> 2+ years experience with .NET used ASP.NET MVC / .NET Core, ADO.NET EF / EF Core. There is also experience with Xamarin. Good knowledge of MVC with EDM (Entity DataModel).</p>
                <h5>Skills:</h5>
                <p style="color: darkcyan;"> .Net Core, Angular, React, HTML, CSS, js, git, azure, docker, MS SQL Server</p>
                <h5>Personal qualities:</h5>
                <ul>
                    <li>Ability to learn & develop using new technologies quickly</li>
                    <li>Self-motivated and determined</li>
                    <li>Analytical mindset</li>
                    <li>Attention to details</li>
                </ul>
                <h5>Education:</h5>
                <p>Plovdiv University “Paisii Hilendarski”. <br> Specialty: Software Engineering, bachelor, 3rd course.</p>
            </div>
            <small class="form-text text-muted">You can edit this template. Enter all your skills and summary, e.g: .Net, Angular, React, git, Jira.</small><br>
        </div>
        <div class="form-group register-form">
            <label>Name</label>
            <input class="form-control mr-sm-2 " placeholder="name" #name>
            <small class="form-text text-muted">First and second name</small><br>

            <label>Email address</label>
            <input class="form-control mr-sm-2 " type="email" placeholder="email" #email>
            <small class="form-text text-muted">We'll never share your email with anyone else.</small><br>

            <label>Password</label>
            <input class="form-control mr-sm-2 " type="password" placeholder="password" #password><br>

            <label>City</label>
            <input class="form-control mr-sm-2 " type="text" placeholder="New-York" #city><br>

            <label>Country</label>
            <input class="form-control mr-sm-2 " type="text" placeholder="United States" #country>
        </div>
        <button class="btn btn-outline-primary " type="button" (click)="signUp(name.value, email.value, password.value, 
        city.value, country.value)">Create account</button>
    </form>
    <div>
        <br> Already have an account? <a routerLink="/login">Sign in</a>.
    </div>
</div>