<div *ngIf="currentUser != null">
    <button mat-menu-item [matMenuTriggerFor]="menu">
        <mat-icon> account_circle</mat-icon>
    </button>


    <mat-menu #menu="matMenu" [ngSwitch]="true">
        <button class="mat-menu-item">
            <mat-icon>person</mat-icon>
            <span>{{currentUser.name}}</span>
        </button>
        <hr>
        <button mat-menu-item *ngSwitchCase="currentUser.role == 'user'">
            <mat-icon>photo_filter</mat-icon>
            <span>My applies</span>
        </button>
        <button mat-menu-item *ngSwitchCase="currentUser.role == 'company'">
            <mat-icon>post_add</mat-icon>
            <span>New job</span>
        </button>
        <button mat-menu-item *ngSwitchCase="currentUser.role == 'company'">
            <mat-icon>library_books</mat-icon>
            <span>My jobs</span>
        </button>
        <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Sign out</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Account settings</span>
        </button>
    </mat-menu>
</div>