<div *ngIf="currentUser != null; else elseBlock">

    <button mat-menu-item [matMenuTriggerFor]="menu">
        <mat-icon> account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [ngSwitch]="true">
        <button mat-menu-item (click)="goToProfile()">
            <mat-icon>person</mat-icon>
            <span>{{currentUser.name}}</span>
        </button>
        <hr>
        <button mat-menu-item *ngSwitchCase="currentUser.role == 'user'">
            <mat-icon>photo_filter</mat-icon>
            <span>My applies</span>
        </button>
        <button mat-menu-item *ngSwitchCase="currentUser.role == 'company'">
            <mat-icon>post_add</mat-icon>
            <span>New job</span>
        </button>
        <button mat-menu-item *ngSwitchCase="currentUser.role == 'company'">
            <mat-icon>library_books</mat-icon>
            <span>My jobs</span>
        </button>
        <button (click)="signOut()" mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Sign out</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Account settings</span>
        </button>
    </mat-menu>
</div>

<ng-template #elseBlock>
    <button mat-menu-item [matMenuTriggerFor]="menu">
        <mat-icon> account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signIn() ">
            <mat-icon>person</mat-icon>
            <span>Guest</span>
        </button>
        <hr>
        <button mat-menu-item (click)="signIn() ">
            <mat-icon>photo_filter</mat-icon>
            <span>My applies</span>
        </button>
        <button mat-menu-item (click)="signIn() ">
            <mat-icon>post_add</mat-icon>
            <span>New job</span>
        </button>
        <button mat-menu-item (click)="signIn() ">
            <mat-icon>library_books</mat-icon>
            <span>My jobs</span>
        </button>
        <button (click)="signIn() " mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Sign In</span>
        </button>
    </mat-menu>
</ng-template>