<div class="container">
    <div *ngIf="currentUser != null; else elseBlock">
        <br>
        <h5>You are logged in as {{currentUser.name}}!</h5>
        <hr>
        <p>email: {{currentUser.email}}</p>
        <p>password: {{currentUser.password}}</p>
        <p>country: {{currentUser.country}}</p>
        <p>city: {{currentUser.city}}</p>
        <p>role: {{currentUser.role}}</p>
        <div [innerHtml]="currentUser.summaryHtml"></div>
        <form class="form-inline" (click)="signOut()">
            <button class="btn btn-warning from-control" type="button">Sign out</button>
        </form>
    </div>
    <ng-template #elseBlock>
        <h5>You are not logged in!</h5>
    </ng-template>
</div>