header {
    background-color: rgb(89, 89, 151);
}

.dark-mode {
    color: whitesmoke;
    background-color: rgb(51, 51, 61);
}

.light-mode {
    background-color: white;
}

.element-on {
    color: rgb(231, 231, 231);
}

.switch-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#content {
    min-height: calc(100vh);
}

a {
    color: white;
}