.dark-mode {
    background-color: rgb(51, 51, 61);
}

.light-mode {
    background-color: white;
}

.element-on {
    background-color: rgb(255, 101, 62);
}

#dark-mode-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}