<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #82d8df;">
        <a class=" navbar-brand " routerLink="/">Jobs</a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarCollapse " aria-controls="navbarCollapse ">
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse ">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " routerLink="/profile">Profile</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link " routerLink="/login">Login</a>
                </li>
            </ul>


            <button id="dark-mode-button" mat-menu-button [ngClass]="['buttonStyle']" (click)="changeAppStyle()">
                <mat-icon>bedtime</mat-icon>
            </button>
            <user-menu></user-menu>

        </div>

    </nav>
</header>

<div>
    <router-outlet></router-outlet>
</div>