<div class="container">
    <br>
    <form (keyup)="filter(search.value, '')" class="form-inline">
        <div class="form-group">
            <input id="search" class="form-control mr-sm-2 " value={{searchLabel}} placeholder="Search" #search><br>

            <button type="button" class="close" (click)="filter('', 'slFilter.value')">&times;</button>

            <select id="slFilter" class="form-control mr-sm-2" (change)="filter(search.value, slFilter.value)" #slFilter>
                <option value='recent' selected>Recent</option>
                <option value="paid">Most paid</option>
                <option value="rated">Most rated</option>
            </select>
        </div>
    </form>
    <br>

    <div *ngFor="let job of Jobs">
        <div class="p-3 mb-2 bg-info text-white">


            <h4><a [routerLink]="['/job-details', job.id]">{{job.jobTitle}}</a><small> at <x id="company-name">{{job.company}}</x> </small></h4>
        </div>

        <div class="alert">

            <small id="job_options">
                {{job.country}}, {{job.city}}, {{job.workType}},
                {{job.minimumExperience}}+ years of experience, {{job.sallary}}$
                <div class="fa fa-star stars"> {{job.stars}} </div>
                <div id="posted">{{job.postedAgo}} days ago</div>
            </small>

            <p>{{job.description}}</p>

            <!-- Apply component -->
            <apply-alert></apply-alert>
            <button id="comments-btn" class="btn btn-outline-secondary" (click)="showComments(job.id)">Show
                comments</button><br>

            <br>

            <!-- Comments -->
            <div *ngIf="job.isComments">
                <hr>
                <h5>Comments</h5>
                <div>
                    <ul>
                        <li *ngFor="let comment of job.comments">{{comment}}</li>
                    </ul>
                </div>

                <form (submit)="addComment(comment.value, job.id)">
                    <div class="form-group">
                        <input class="form-control" type="text" id="comment" placeholder="Your comment" #comment><br>
                        <button type="submit" class="btn btn-outline-secondary">Reply</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>