#comments-btn {
    position: relative;
    float: right;
    right: 30px;
}

.stars {
    position: relative;
    float: right;
    left: 0px;
    color: orange;
    font-size: 20px;
}

.close {
    margin-right: 10px;
}