div#posted {
    position: relative;
    float: right;
    right: 30px;
}

small#job_options {
    color: rgb(124, 124, 124);
}

#comments-btn {
    position: relative;
    float: right;
    right: 30px;
}